body{
     margin: 0;
     padding: 0;
     background:#051c68;
     color: white;
}

.header{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     background: rgb(0, 0, 0, 0.4);
     color: rgb(190, 47, 71);

}

.header h1{

     color: rgb(190, 47, 71);
}

.feedback-list{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.container {
     width: 100%;
     display: flex;
     flex-direction: column;
     position: relative;
     align-items: center;
     justify-content: center;
     color: rgb(8, 5, 5);
     
}

.card.reverse{
     background: rgb(0, 0, 0, 0.5);
     color: #fff;
}

.card{
     width: clamp(400px, 40%, 800px);
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     aspect-ratio: 100/18;
     border-radius: 1vw;
     background: burlywood;
     margin: 2% 0;

}



.num-display{
     position: absolute;
     top: -10%;
     left: -2%;
     width: 7%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     font-weight: 600;
     font-size: clamp(10px, 1.3vw, 25px);
     aspect-ratio: 1/1;
     border-radius: 50%;
     background: rgb(243, 39, 73);
     color: whitesmoke;
     border: 2px solid #051c68;
}

.text-display{
     font-weight: bold;
     font-size: clamp(12px, 1.4vw, 30px);
     width: 90%;
}

.close{
     border: none;
     background: whitesmoke;
     position: absolute;
     top: 0;
     right: 0;
     width: 4%;
     aspect-ratio: 1/1;
     border-radius: 50%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     font-size: clamp(12px, 1vw, 30px);
}

.close:hover{
     background: #a5adc9;
     transition: all 1s;
     cursor: pointer;
}

.feedback-stats{
     box-sizing: border-box;
     display: flex;
     width: clamp(400px, 40%, 800px);
     flex-direction: row;
     justify-content: space-between;
     color: #fff;
     aspect-ratio: 10/0.2;
     border-radius: 1.5vw;
     padding: 0 2%;
     background: burlywood;
     margin: 2% 0 0 0 ;
}