*{
     position: relative;
}
body{
     margin: 0;
     padding: 0;
     background:#051c68;
     color: white;
}

.header{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     background: rgb(0, 0, 0, 0.4);
     color: rgb(190, 47, 71);

}

.header h1{

     color: rgb(190, 47, 71);
}

.feedback-list{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
}

.container {
     width: 100%;
     display: flex;
     flex-direction: column;
     position: relative;
     align-items: center;
     justify-content: center;
     color: rgb(8, 5, 5);
     
}

.card.reverse{
     background: rgb(0, 0, 0, 0.5);
     color: #fff;
}

.card{
     width: 700px;
     min-width: 200px;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     aspect-ratio: 100/18;
     border-radius: 1vw;
     background: burlywood;
     margin: 2% 0;

}



.num-display{
     position: absolute;
     top: -10%;
     left: -2%;
     width: 7%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     font-weight: 600;
     font-size: clamp(10px, 1.3vw, 25px);
     aspect-ratio: 1/1;
     border-radius: 50%;
     background: rgb(243, 39, 73);
     color: whitesmoke;
     border: 2px solid #051c68;
}

.text-display{
     font-weight: bold;
     font-size: clamp(12px, 1.4vw, 30px);
     width: 90%;
}

.close{
     border: none;
     background: whitesmoke;
     position: absolute;
     top: 0;
     right: 0;
     width: 4%;
     aspect-ratio: 1/1;
     border-radius: 50%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     font-size: clamp(12px, 1vw, 30px);
}

.edit{
     right: 6%;
}

.close:hover{
     background: #a5adc9;
     transition: all 1s;
     cursor: pointer;
}

.feedback-stats{
     box-sizing: border-box;
     display: flex;
     width: clamp(400px, 40%, 800px);
     flex-direction: row;
     justify-content: space-between;
     color: #fff;
     aspect-ratio: 10/0.2;
     border-radius: 1.5vw;
     padding: 0 2%;
     background: burlywood;
     margin: 2% 0 0 0 ;
}

.feedbackForm{
     position: relative;
     width: 90%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.group {
     position: relative;
     width: 60%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

.group input[type="text"]{
     width: 100%;
     padding: 2%;
     border: none;
}

.group input:focus{
     outline: none;
     border: none;
}

.group button[type="submit"]{
     position: absolute;
     right: 1%;
}

.btn{
     width: clamp(60px, 20%, 120px);
     padding: 1%;
     border-radius: 0.2vw;
     font-size: clamp(13px,0.8vw,16px);
     letter-spacing: 0.05vw;
}

.btn-primary{
     background: #030325c9;
     color: white;
}

.btn-primary:hover{
     cursor: pointer;
     background: #17175ec9;
}

.btn-secondary{
     background:crimson;
     color: white;
}

button:disabled{
     background: gray;
     color: #051c68;
}

.input-message{
     color: crimson;
}

.ratingList{
     position: relative;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     list-style-type: none;
     width: 90%;
}

.ratingList li{
     width: 9%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     position: relative;

}

.ratingList li input[type="radio"]{
     width: 100%;
     accent-color: rgb(112, 114, 6);
     aspect-ratio: 1/1;
     visibility:visible;
     margin: 0;
     padding: 0;
     border: none;
     outline: none;

}

.ratingList li input[type='radio']:checked{
     background: blueviolet;
}

.ratingList li label{
     position: absolute;
     padding: 0;
     color: rgb(39, 39, 39);
     font-size: clamp(11px, 1.1vw, 22px);
     font-weight: 600;
}

.AboutIcon{
     width: clamp(60px, 4%, 120px); 
     aspect-ratio: 1/1;
     background: rgb(241, 10, 48);
     color: white;
     position: fixed;
     right: 1%;
     bottom: 1%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content:  center;
     font-size: 1.6vw;
     border-radius: 50%;
}
.AboutIcon:hover{
     cursor: pointer;
}